.player {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  float: center;
  padding-bottom: 10px;
}

input[type='number'] {
  width: 80px;
}

html {
  padding-top: 20px;
  text-align: center;
}

.card {
  display: inline-block;
  width: 3.3em;
  height: 4.6em;
  border: 1px solid #666;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  padding: 0.25em;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
  font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
  font-weight: normal;
  font-family: Arial, sans-serif;
  position: relative;
  background-color: #fff;
  -moz-box-shadow: 0.2em 0.2em 0.5em #333;
  -webkit-box-shadow: 0.2em 0.2em 0.5em #333;
  box-shadow: 0.2em 0.2em 0.5em #333;
}

p {
  padding-top: 40%;
}
